use aoc_runner_derive::*;

type Result<T, E = Box<dyn std::error::Error>> = std::result::Result<T, E>;

#[aoc({day}, part1)]
pub fn part1(input: &str) -> Result<usize> {
    unimplemented!()
}

#[aoc({day}, part2)]
pub fn part2(input: &str) -> Result<usize> {
    unimplemented!()
}
