use aoc_runner_derive::*;

use anyhow::{anyhow, Result, Context};

// #[aoc_generator({day})]
// fn gen(input: &str) -> Result<T> {
//     unimplemented!()
// }

#[aoc({day}, part1)]
pub fn part1(input: &str) -> Result<usize> {
    eprintln!("{}", input);
    unimplemented!()
}

// #[aoc({day}, part2)]
// pub fn part2(input: &str) -> Result<usize> {
//     unimplemented!()
// }

#[cfg(test)]
mod tests {}
